th{
    white-space: nowrap
}

table {
    font-size: 12px;
}

.searchClass { 
    height: 28px;
    border-radius: 0;
}

.grpdrp .select-all{
    padding-top: 10px;
}

.card .card-header {
    padding-bottom: 0;
}